/*variables*/

:root{
    --black-2: rgba(0, 0, 0, 0.689);
    --black: rgba(0, 0, 0, 1);
    --mm-font: rgba(27, 57, 57, 1);
    --new-mm: hsl(165, 77%, 17%);
    --mm-heading: hsl(38, 100%, 50%);
    --alto: rgba(217,217,217,1);
    --mm-bg: rgba(249, 251,252,1);
    --white: rgba(255, 255, 255, 1);

    --font-s13: 13px;
    --font-s16: 16px;
    --font-s18:18px;
    --font-s40: 40px;
    --font-s20: 20px;
    --font-s26: 26px;
    --font-s32: 32px;
    --font-s15: 15px;
    --font-s15: 19px;
    --font-s30: 30px;

    /*
    --font-size-xxxs: 13px;  --font-s13
    --font-size-xs: 16px;    --font-s16
    --font-size-s:18px;      --font-s18
    --font-size-xxx1: 40px;  --font-s40
    --font-size-s2: 20px;    --font-s20
    --font-size-m2: 26px;    --font-s26
    --font-size-12: 32px;    --font-s32
    --font-size-xs2: 15px;   --font-s15
    --font-size-19: 19px;    --font-s19
    --font-size-x12: 30px;   --font-s30



    opensans-normal-black-26px              - open-nor-b-26
    poppins-normal-te-papa-green-20px       - pop-nor-g-20
    poppins-light-breaker-bay-16px          - pop-light-t-16
    poppins-normal-breaker-bay-13px         - pop-nor-t-13
    opensans-semi-bold-te-papa-green-20px   - open-semi-g-20
    poppins-medium-breaker-bay-13px         - pop-med-t-13

    opensans-normal-alabaster-20px          - open-nor-w-20

    poppins-normal-breaker-bay-20px         - pop-nor-t-20
    opensans-normal-black-30px              - open-nor-b-30
    poppins-normal-breaker-bay-14px         - pop-nor-t-14
    opensans-normal-te-papa-green-26px      - open-nor-g-26
    poppins-normal-breaker-bay-16px         - pop-nor-g-16
    opensans-normal-te-papa-green-32px      - open-nor-g-32
    opensans-semi-bold-alabaster-40px       - open-semi-w-40
    opensans-normal-alabaster-30px          - open-nor-w-30
    opensans-normal-breaker-bay-30px        - open-nor-t-30
    opensans-normal-alabaster-26px          - open-nor-w-26
    opensans-normal-black-32px              - open-nor-b-32
    opensans-normal-alabaster-32px          - open-nor-w-32
    opensans-normal-te-papa-green-20px      - open-nor-g-20
    poppins-light-breaker-bay-18px          - pop-light-t-18
    opensans-normal-te-papa-green-30px      - open-nor-g-30
    poppins-normal-breaker-bay-15px         - pop-nor-t-15

    */
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-playfair: 'Playfair Display', serif;

}

/*classes*/



.mm-b2{
    font-family: var(  --ff-playfair);
    font-size: var(--font-s15);
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
}

.open-nor-b-26{
    color: var(--black);
    font-family: var(--ff-playfair);
    font-size: var(--font-s26);
    font-weight: 400;
    font-style: normal;
}

.pop-nor-g-20{
    color: var(--mm-font);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s20);
    font-weight: 400;
    font-style: normal;
}

.pop-light-t-16{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s16);
    font-weight: 300;
    font-style: normal;
}

.pop-nor-t-13{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s13);
    font-weight: 400;
    font-style: normal;
}

.open-semi-g-20{
    color: var(--mm-font);
    font-family: var(--ff-playfair);
    font-size: var(--font-s20);
    font-weight: 600;
    font-style: normal;
}

.pop-med-t-13{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s13);
    font-weight: 500;
    font-style: normal;
}

.mm-b1{
    font-family: var(--ff-montserrat);
    font-size: var(--font-s20);
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
}

.mm-b3{
    font-family: var(--ff-montserrat);
    font-size: var(--font-s18);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}

.open-nor-w-20{
    color: var(--new-mm);
    font-family: var(--ff-playfair);
    font-size: var(--font-s20);
    font-weight: 400;
    font-style: normal;
}

.pop-nor-t-20{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s20);
    font-weight: 400;
    font-style: normal;
}

.open-nor-b-30{
    color: var(--black);
    font-family: var(--ff-playfair);
    font-size: var(--font-s30);
    font-weight: 400;
    font-style: normal;
}

.mm-b3{
    font-family: var(--ff-montserrat);
    font-size: var(--font-s20);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}

.pop-nor-t-14{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.open-nor-g-26{
    color: var(--mm-font);
    font-family: var(--ff-playfair);
    font-size: var(--font-s26);
    font-weight: 400;
    font-style: normal;
}

.pop-nor-g-16{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s16);
    font-weight: 400;
    font-style: normal;
}

.open-nor-g-32{
    color: var(--mm-font);
    font-family: var(--ff-playfair);
    font-size: var(--font-s32);
    font-weight: 400;
    font-style: normal;
}

.open-semi-w-40{
    color: var(--mm-bg);
    font-family: var(--ff-playfair);
    font-size: var(--font-s40);
    font-weight: 600;
    font-style: normal;
}

.open-nor-w-30{
    color: var(--mm-bg);
    font-family: var(--ff-playfair);
    font-size: var(--font-s30);
    font-weight: 400;
    font-style: normal;
}

.open-nor-t-30{
    color: var(--new-mm);
    font-family: var(--ff-playfair);
    font-size: var(--font-s30);
    font-weight: 400;
    font-style: normal;
}

.open-nor-w-32{
    color: var(--mm-bg);
    font-family: var(--ff-playfair);
    font-size: var(--font-s32);
    font-weight: 400;
    font-style: normal;
}

.open-nor-w-26{
    color: var(--mm-bg);
    font-family: var(--ff-playfair);
    font-size: var(--font-s26);
    font-weight: 400;
    font-style: normal;
}

.open-nor-b-32{
    color: var(--black);
    font-family: var(--ff-playfair);
    font-size: var(--font-s32);
    font-weight: 400;
    font-style: normal;
}

.open-nor-g-20{
    color: var(--mm-font);
    font-family: var(--ff-playfair);
    font-size: var(--font-s20);
    font-weight: 400;
    font-style: normal;
}

.pop-light-t-18{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s18);
    font-weight: 300;
    font-style: normal;
}

.open-nor-g-30{
    color: var(--mm-font);
    font-family: var(--ff-playfair);
    font-size: var(--font-s30);
    font-weight: 400;
    font-style: normal;
}

.pop-nor-t-15{
    color: var(--new-mm);
    font-family: var(--ff-montserrat);
    font-size: var(--font-s15);
    font-weight: 400;
    font-style: normal;
}
